In [17]:
import pandas as pd
df = pd.read_csv("unmaed.csv")

In [3]:
from datetime import datetime
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y")

In [4]:
dt_string

'19/06/2022'

In [19]:
df

     Unnamed: 0                          Name  # Stocks   Created   Updated
0             0  JE_Rolling_DL__06_17_22_v148       772  06/17/22  06/17/22
1             1  JE_Rolling_DL__06_17_22_v147       486  06/17/22  06/17/22
2             2  JE_Rolling_DL__06_17_22_v146       484  06/17/22  06/17/22
3             3  JE_Rolling_DL__06_17_22_v145       486  06/17/22  06/17/22
4             4  JE_Rolling_DL__06_17_22_v144       494  06/17/22  06/17/22
..          ...                           ...       ...       ...       ...
232         232      Jeff_Top30_Longs_8_31_12        32  12/06/12  12/06/12
233         233     Jeff_Top30_Shorts_7_31_12        26  12/06/12  12/06/12
234         234      Jeff_Top30_Longs_7_31_12        34  12/06/12  12/06/12
235         235                           TMS         2  10/15/12  10/15/12
236         236                    CommodETFs        19  09/29/12  09/29/12

[237 rows x 5 columns]

In [22]:
def get_selected_rows(df, start_date,end_date):
    df['temp'] = pd.to_datetime(df['Created'])
    df = df[(df['temp'] >= start_date) & (df['temp'] <= end_date)]
    df.pop('temp')
    return df

In [26]:
start_date = "2022-06-14"
end_date = "2022-06-17"
get_selected_rows(df, start_date,end_date)

    Unnamed: 0                          Name  # Stocks   Created   Updated
0            0  JE_Rolling_DL__06_17_22_v148       772  06/17/22  06/17/22
1            1  JE_Rolling_DL__06_17_22_v147       486  06/17/22  06/17/22
2            2  JE_Rolling_DL__06_17_22_v146       484  06/17/22  06/17/22
3            3  JE_Rolling_DL__06_17_22_v145       486  06/17/22  06/17/22
4            4  JE_Rolling_DL__06_17_22_v144       494  06/17/22  06/17/22
5            5  JE_Rolling_DL__06_16_22_v143       772  06/16/22  06/16/22
6            6  JE_Rolling_DL__06_16_22_v142       486  06/16/22  06/16/22
7            7  JE_Rolling_DL__06_16_22_v141       484  06/16/22  06/16/22
8            8  JE_Rolling_DL__06_16_22_v140       486  06/16/22  06/16/22
9            9  JE_Rolling_DL__06_16_22_v139       494  06/16/22  06/16/22
10          10  JE_Rolling_DL__06_15_22_v138       772  06/15/22  06/15/22
11          11  JE_Rolling_DL__06_15_22_v137       486  06/15/22  06/15/22
12          12  JE_Rolling_DL__06_15_22_v136       484  06/15/22  06/15/22
13          13  JE_Rolling_DL__06_15_22_v135       486  06/15/22  06/15/22
14          14  JE_Rolling_DL__06_15_22_v134       494  06/15/22  06/15/22
15          15  JE_Rolling_DL__06_14_22_v133       772  06/14/22  06/14/22
16          16  JE_Rolling_DL__06_14_22_v132       486  06/14/22  06/14/22
17          17  JE_Rolling_DL__06_14_22_v131       484  06/14/22  06/14/22
18          18  JE_Rolling_DL__06_14_22_v130       486  06/14/22  06/14/22
19          19  JE_Rolling_DL__06_14_22_v129       494  06/14/22  06/14/22

In [27]:
from datetime import datetime

datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')"Sat, 18 Jun 2022 00:00:00 GMT"

TypeError: strptime() takes exactly 2 arguments (1 given)

In [34]:
from dateutil import parser
s = parser.parse("Sat, 17 Jun 2022 00:00:00 GMT").strftime('%m/%d/%Y')

In [35]:
get_selected_rows(df, s,s)

   Unnamed: 0                          Name  # Stocks   Created   Updated
0           0  JE_Rolling_DL__06_17_22_v148       772  06/17/22  06/17/22
1           1  JE_Rolling_DL__06_17_22_v147       486  06/17/22  06/17/22
2           2  JE_Rolling_DL__06_17_22_v146       484  06/17/22  06/17/22
3           3  JE_Rolling_DL__06_17_22_v145       486  06/17/22  06/17/22
4           4  JE_Rolling_DL__06_17_22_v144       494  06/17/22  06/17/22